body {
    background-color: rgb(0, 0, 0);
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Fuggles', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Young Serif', serif;
}
header {
    background-image: url(../imagenes/alcoholic-beverage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.menu {
    justify-content: space-around;
    display: flex;
    justify-content: space-between;

}
.menu-logo img {
    width: 300px;
    height: 70px;
    opacity: 1;
}
.menu-links {
    margin: 10px;
    padding: 0px;
    display: flex;
}

/* a:link {
    color: red;
}

a:visited {
    color: blue;
}

a:active {
    background-color: green;
    color: white;
}

p::selection {
    background-color: salmon;
} */

.menu-links .nav-link {
    max-height: 20px;
    padding: 10px;
    background-color: rgb(10, 10, 9, 1);
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(10, 10, 10);
    margin: 5px;
    border-radius: 5px;
    color: white;
}
.nav-link:hover {
    background-color: gray;
    box-shadow: 0px 3px 10px 5px white;
    color: black;
    font-weight: bolder;
}

footer {
    color: white;
}

.container {
    margin: auto;
    background-color: rgb(5, 5, 5);
    width: 800px;
    padding: 10px;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 300px;
    
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: rgb(238, 238, 14);
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}


.menu-slider {
    text-align: center;
    margin: 20px;
}

.menu-slider li {
    display: inline-block;
    text-align: center;
}

.menu-slider li a {
    display: inline-block;
    color: rgb(251, 250, 250);
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;

}


div.gallery {
    margin: 5px;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    justify-content: space-around;


}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 300px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    color: white;
}

#tel {
    width: 60px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}

#tel:hover {
    animation: bounce;
    animation-duration: 2s;
}

.img-footer {
    display: flex;
    justify-content: space-around;

}

.division-formulario {
    background-color: rgb(6, 6, 6);
    display: flex;
    justify-content: space-between;
}

.imagen-formulario {
    text-align: end;
}

.imagen-formulario img {
    width: auto;
}

.carusel {

    padding: 5px 20px 5px 20px;
    margin-top: 50px;
    background-color: rgb(23, 22, 22, 0.3);
}

#naranja2 {
    width: 50%;
    min-height: 500px;
    background-color: rgb(5, 5, 5);
    animation-name: carrousel;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    background-size: cover;
    margin-left: 400px;
    
}

@keyframes carrousel {
    0% {
        background-image: url(../imagenes/fondos/251677.jpg);
    }
    20% {
        background-image: url(../imagenes/fondos/wallpaper\ 5\ grados\ pc.png);
    }
    40% {
        background-image: url(../imagenes/fondos/251716.jpg);
    }
    60% {
        background-image: url(../imagenes/fondos/ron-un-buen-trago_0.jpg);
    }
    80% {
        background-image: url(../imagenes/fondos/3a3f0efbec67c7125221821bd94f3c68.jpeg);
    }
    100% {
        background-image: url(../imagenes/fondos/cerveza.jpg);
    }

    /* 0% {background: red; width: 200px;}         /* Primer fotograma */
    /* 50% {background: yellow; width: 400px;}     /* Segundo fotograma */
    /* 100% {background: green; width: 600px;}     /* Último fotograma */
}